body{
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* style for navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul{
    display: flex;
    text-align: center;
    color: #181818;
    text-align: center;
    align-items: center;

}
nav li{
    margin-right: 50px;
    list-style: none;
}
.primary-color{
    color: #FD6E0A;
}
nav a{
    text-decoration: none;
    color: #181818;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border:0;
    font-size: 20px;
    padding: 15px 35px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.header{
    background-color:rgba(255, 248, 243, 1) ;
}
/* baner style */
.baner{
    padding: 50px, 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banerimg{
    width: 500px;
}
.baner-content{
    
}